{{ form_start(form, {'attr': {'class': 'ajax'}} ) }}
<div class="caption">Оформите предварительный заказ и наши специалисты свяжутся с Вами для уточнения деталей</div>
<div>
    <div class="left">
        <div class="item">
            {{ form_widget(form.userFullName) }}
            <div class="error">
                {{ form_errors(form.userFullName) }}
            </div>
        </div>
        <div class="item">
            {{ form_widget(form.userPhone) }}
            <div class="error">
                {{ form_errors(form.userPhone) }}
            </div>
        </div>
    </div>
    <div class="right">
        <div class="item">
            {{ form_widget(form.userInfo) }}
            <div class="error">
                {{ form_errors(form.userInfo) }}{{ form_errors(form) }}
            </div>
        </div>
        <div class="submit_container">
            <div>
                <div class="confirm_check">
                    <input type="checkbox" checked required id="confirm">
                    <label for="confirm">
                        Согласен с <a href="#" target="_blank">политикой конфиденциальности</a>
                    </label>
                </div>
            </div>
            <div>
                <button class="btn" type="submit">Оформить заказ</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
