{% extends ':email:service_layout.html.twig' %}

{% block content %}
    {% if order.user %}
        <a href="{{ admin_url(order.user) }}"><h3>{% trans %}cart.email.checkout.user{% endtrans %}</h3></a>

        {% include 'DarvinUserBundle:User/widget:table.html.twig' with {'user': order.user} %}

    {% endif %}
    <a href="{{ admin_url(order) }}"><h3>{% trans %}cart.email.checkout.order{% endtrans %}</h3></a>
    <table>
        <tbody>
            <tr>
                <th>{% trans %}ecommerce_order.entity.user_full_name{% endtrans %}</th>
                <td>{{ order.userFullName }}</td>
            </tr>
            <tr>
                <th>{% trans %}ecommerce_order.entity.user_phone{% endtrans %}</th>
                <td>{{ order.userPhone }}</td>
            </tr>
            <tr>
                <th>{% trans %}ecommerce_order.entity.user_email{% endtrans %}</th>
                <td>
                    {% if order.userEmail %}
                        <a href="mailto:{{ order.userEmail }}">{{ order.userEmail }}</a>
                    {% endif %}
                </td>
            </tr>
            {% if order.userAddress %}
            <tr>
                <th>Адрес доставки</th>
                <td>
                    {{ order.userAddress|raw }}
                </td>
            </tr>
            {% endif %}
            {% if order.userInfo %}
                <tr>
                    <th>Дополнительная информация</th>
                    <td>
                        {{ order.userInfo|raw }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <h3>{% trans %}cart.email.checkout.order_items{% endtrans %}</h3>

    {% include 'DarvinECommerceBundle:Order/order/widget:show.html.twig' %}

{% endblock %}
