{% extends app.debug ? '::base.html.twig' : '::base_compressed.html.twig' %}

{% set flashes = app.session.flashBag.all %}

{% set is_home_page = ('darvin_page_homepage') %}

{% set is_inner_page = ('darvin_page_homepage' == app.request.get('_route')) %}

{% set darvin_menu_main_html =  knp_menu_render('darvin_menu_main', {'template': '::menu.html.twig', 'branch_class': 'with_dropdown', 'currentClass': 'current', 'ancestorClass': 'current', 'depth': '2' }) %}


{% block title %}{{ block('heading') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i">
    {% stylesheets
        'assets/styles/main.css'
        filter='?cssembed'
        filter='cssrewrite'
        filter='?yui_css'
        output='assets/compiled/main.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header >
        <div class="wrapper">
            <nav>
                {{ darvin_menu_main_html|raw }}
            </nav>
            <div class="info">
                <div class="cf">
                    <div class="left_item">
                        <div class="schedule">
                            {% if app_config.top_working_time %}
                            {{ app_config.top_working_time|raw }}
                            {% endif %}
                        </div>
                        <div class="text">
                            В остальное время<br/>Вы можете оформить интернет-заказ
                        </div>
                    </div>
                    <div class="middle_item">
                        <div class="logo">
                            <a href="{{ path('darvin_page_homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="right_item">
                        <div class="contacts">
                           {% if app_config.top_phone %}
                                {{ app_config.top_phone|raw }}
                            {% endif %}
                        </div>
                        <div class="order">
                            <a href="{{ path('darvin_order_order_form', {'type': 'call'}) }}" class="button ajax">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if is_home_page %}
            <div class="slider">
                <div class="slide">
                    <img src="{{ asset('assets/images/slide.jpg') }}" alt="">
                </div>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="wrapper">
            {% block block_for_home_page %}{% endblock %}
            {% block block_for_inner_page %}
                <div class="path_container container">
                    <div class="path cf">
                        {% block breadcrumbs %}
                        <span class="path-item"><a href="{{ path('darvin_page_homepage') }}">Главная</a></span>
                        {% endblock %}
                    </div>
                </div>
            <div class="inner_container container">
                <div class="inner cf">
            <h1>{% block heading %}{% endblock %}</h1>
                    <div class="content">
            {% block content %}{% endblock %}
                    </div>
            {% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="wrapper">
            <div class="footer_container container">
                <div class="footer cf">
                    <div class="logo">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="">
                    </div>
                    <div class="info">
                        <div class="item">
                            <div class="contacts">
                                {% if app_config.footer_phones %}
                                    {{ app_config.footer_phones|raw }}
                                {% endif %}
                            </div>
                            <div class="address">
                                {% if app_config.footer_address %}
                                <div class="item">{{ app_config.footer_address }}</div>
                                {% endif %}
                                {% if app_config.footer_email %}
                                <div class="item">{{ app_config.footer_email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule">
                               {% if app_config.footer_working_time %}
                                    {{ app_config.footer_working_time|raw }}
                                {% endif %}
                            </div>
                            <div class="link"><a href="">Карта проезда</a></div>
                        </div>
                        <div class="item">
                            <div class="darvin">
                                <div class="logo"><img src="{{ asset('assets/images/logo_darvin.png') }}" alt=""></div>
                                <div class="text">Cоздание сайта доставки воды <a href="">Darvin Studio</a></div>
                            </div>
                            <div class="copywrite">&copy; 2017. Все права защищены</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}


{% block javascripts %}
    <a href="javascript:;" id="scrollTop"><img src="{{ asset('assets/images/scroll_arrow.png') }}" alt="">Top</a>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('assets/vendor/noty/lib/noty.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    {% javascripts
        'assets/scripts/init.js'
        'assets/scripts/ajax-form.js'
        'assets/scripts/ajax-link.js'
        'assets/scripts/globals.js'
        filter='?closure'
        output='assets/compiled/app.js'
    %}

        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
