{% extends '::layout.html.twig' %}

{% import 'DarvinContentBundle::macros.html.twig' as darvin_content %}

{% block meta %}{{ darvin_content.meta_tags(page.metaDescription, page.metaKeywords) }}{% endblock %}

{% block title %}{{ darvin_content.meta_title(page.metaTitle) }}{% endblock %}

{% block body_class %}home_page{% endblock %}

{% block block_for_inner_page %}{% endblock %}

{% block block_for_home_page %}
    <div class="h1_container container">
        <div class="h1 cf">
            <div class="text">
                <h1>{{ darvin_content.heading(page.heading) }}</h1>
                <img src="i{{ asset('assets/images/h1.png') }}" style="width:280px; height:280px;float: right; margin-left: 40px; margin-top: -68px;" alt="">
                {{ page.annotation|raw }}
            </div>
        </div>
    </div>
    <div class="publication_container container">
        <div class="publication cf">
            {% if content_widget_exists('latest_publications') %}
                {{ content_widget_render('latest_publications') }}
            {% endif %}
        </div>
    </div>
    <div class="h2_container container">
        <div class="h2 cf">
            <div class="text">
                <img src="{{ asset('assets/images/h2.png') }}" style="width:280px; height:280px;float: left; margin-right: 40px;" alt="">
                {{ page.text|raw }}
            </div>
        </div>
    </div>

{% endblock %}