{% if types is not empty %}
        {% for type in types %}
            {% if type.id == 1 %}
            <div class="item news">
                 <div class="content">
                    <p class="p_title">{{ type.title }}</p>
                        {% for publication in publications[type.id] %}
                         <div class="content">
                            <div class="item">
                                <div class="header">
                                    <div class="date">{{ publication.publishedAt|date('d.m.Y') }}</div>
                                    <a href="{{ path('darvin_content_content_show', {'slug': publication.slug}) }}">{{ publication.title }}</a>
                                </div>
                                <div class="annotation">{{ publication.annotation|raw }}</div>
                            </div>
                             {% endfor %}
                         </div>
                    <div class="link">
                        <a href="{{ path('darvin_content_content_show', {'slug': page_slugs[type.publicationListWidgetPlaceholder]}) }}">Перейти ко всем новостям</a>
                    </div>
                 </div>
            </div>
            {% endif %}
            {% if type.id == 2 %}
            <div class="item articles">
                <div class="content">
                    <p class="p_title">{{ type.title }}</p>
                        {% for publication in publications[type.id] %}
                            <div class="content">
                                <div class="item">
                                    <div class="header">
                                        <a href="{{ path('darvin_content_content_show', {'slug': publication.slug}) }}">{{ publication.title }}</a>
                                    </div>
                                    <div class="annotation">{{ publication.annotation|raw }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    <div class="link">
                        <a href="{{ path('darvin_content_content_show', {'slug': page_slugs[type.publicationListWidgetPlaceholder]}) }}">Перейти ко всем статьям</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
{% endif %}