{% set product_url = path('darvin_content_content_show', { 'slug': item.product.slug }) %}
    <td>
        <div>
            <div class="door photo_gal">
                {% if item.variant and image_exists(item.variant.image) %}
                    {% set image = item.variant.image %}
                    <a href="{{ item.variant.image|image_original }}"
                       class="img gall_item" data-size="{{ image.width }}x{{ image.height }}">
                        <img src="{{ item.variant.image|image_resize('product_list') }}"
                             alt="{{ item.variant.title }}" title="{{ item.variant.title }}">
                    </a>
                    <div class="show_big">
                        <div>Увеличить</div>
                    </div>
                {% elseif item.product.images is not empty and image_exists(item.product.images.first) %}
                    {% set image = item.product.images.first %}
                    <a href="{{ item.product.images.first|image_original }}"
                       class="img gall_item" data-size="{{ image.width }}x{{ image.height }}">
                        <img src="{{ item.product.images.first|image_resize('product_list') }}"
                             alt="{{ item.product.title }}" title="{{ item.product.title }}">
                    </a>
                    <div class="show_big">
                        <div>Увеличить</div>
                    </div>
                {% else %}
                    <img src="{{ asset('assets/images/default/70х70.jpg') }}" alt="">
                {% endif %}
            </div>
        </div>
    </td>
    <td>
        <div class="name"><a href="{{ product_url }}">{{ item.product.title }}</a></div>
    </td>
    <td>
        <div>
            <ul class="features">
            {% if item.variant %}
                {% if item.variant.color %}
                <li><b>Цвет:</b> {{ item.variant.color.title }}</li>
                {% endif %}
                {% if item.variant.glass %}
                <li><b>Остекление:</b> {{ item.variant.glass.title }}</li>
                {% endif %}
            {% endif %}
            {% for price in item.additionalPrices if price.value %}
                <li><b>{{ price.title }}:</b> {{ price.value }}{% if price.count > 1 %} ({{ price.count }}шт.){% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    </td>
    <td>
        <div class="priсe">
            {{ item.priceOneProduct|localizednumber }} руб.
        </div>
    </td>
    <td>
        <div>
            <div class="value">
                {% include 'DarvinECommerceBundle:Cart/widget/form:count_change.html.twig' with {
                'form': count_change_form,
                } %}
            </div>
        </div>
    </td>
    <td>
        <div class="cost">
            {{ item.sumPrice|localizednumber }} руб.
        </div>
    </td>
    <td>
        <div>
            {#{% set key = item.hashSource is not empty ? item.id : item.productId %}#}
            <input autocomplete="off"
                   id="clear_{{ item.id }}"
                   class="cart_check_for_removal"
                   data-item-id="{{ item.id }}"
                   title="{% trans %}cart.action.show.check{% endtrans %}"
                   type="checkbox">
            <label for="clear_{{ item.id }}"></label>
        </div>
    </td>