<div class="image">
    <a href="{{ path('darvin_ecommerce_cart_show') }}" class="image_link">
        <img src="{{ asset('assets/images/header_basket.png') }}"
             alt="Предварительный заказ" title="Предварительный заказ" />
    </a>
    <span class="number">
    <a href="{{ path('darvin_ecommerce_cart_show') }}">{{ total_product_count }}</a>
</span>
</div>
<div class="name">
    <p class="heading">
        <a href="{{ path('darvin_ecommerce_cart_show') }}">Предварительный заказ</a>
    </p>
    {% if items_count %}
    <p>{{ total_price|localizednumber }} руб.</p>
    {% endif %}
</div>