

<div class="catalog">
{% for product in products %}
    {% set url = url('darvin_content_content_show', {'slug': product.slug}) %}
    <div class="item_wrap">
        <div class="item">
            <div class="image">
                <a href="{{ url }}">
                <img src="{{ product.images.first|image_resize('product_list') }}" alt="{{ product.title }}">
                </a>
            </div>
            <div class="info">
                <div class="name"><a href="{{ url }}">{{ product.title }}</a></div>
                <div class="price">{{ product.price| localizednumber}} руб.</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
    <div class="pagination">
        {{ knp_pagination_render(products_pagination) }}
    </div>