{% extends '::layout.html.twig' %}



{% import 'DarvinContentBundle::macros.html.twig' as darvin_content %}

{% block meta %}{{ darvin_content.meta_tags(catalog.metaDescription, catalog.metaKeywords) }}{% endblock %}

{% block title %}{{ darvin_content.meta_title(catalog.metaTitle) }}{% endblock %}

{% block heading %}{{ darvin_content.heading(catalog.heading) }}{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = darvin_menu_breadcrumbs() %}
    {{ parent() }}
    {{ breadcrumbs|raw }}
    {% if not breadcrumbs|trim %}
        {{ catalog.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="catalog">
         {% for child in children %}
                <div class="item_wrap">
                    <div class="item">
                        <div class="image">
                            {% if image_exists(child.image) %}
                                <img src="{{ child.image|image_resize('catalog_image_catalog_show_children') }}"
                                     alt="{{ child.title }}" title="{{ child.title }}">
                            {% else %}
                                <img src="{{ asset('assets/images/new_4.jpg') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="name"><a href="{{ path('darvin_content_content_show', {'slug': child.slug}) }}">{{ child.title }}</a></div>
                        </div>
                    </div>
                </div>
         {% endfor %}
    {% if products is not empty %}
        {% include 'DarvinECommerceBundle:Product/product/widget:show.html.twig' %}
    {% endif %}
        </div>
        {#{{ knp_pagination_render(products_pagination) }}#}
    {{ catalog.text|raw }}
{% endblock %}