
<div class="message_form overlay_call">
    {{ form_start(form, {'attr': {'class': 'ajax'}}) }}
        <div class="form_content">
                    <p class="p_title">Закажите звонок бесплатно</p>
                    <div class="form_item block_item">
                        <span>Если Вам неудобно звонить нам, оставьте заявку, и мы сами Вам перезвоним для консультации. Мы ответим на все интересующие Вас вопросы о нашей продукции. Услуга бесплатна.</span>
                    </div>
                    <div class="form_item">
                        {{ form_widget(form.name) }}
                        <div class="error">
                            <ul>
                                <li>{{ form_errors(form.name) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form_item">
                        {{ form_widget(form.phone) }}
                        <div class="error">
                            <ul>
                                <li>{{ form_errors(form.phone) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form_item block_item">
                        <span>Мы гарантируем конфиденциальность данных</span>
                    </div>
                    <div class="form_item block_item">
                        <button type="submit"  class="button dark_button" >Отправить</button>
                    </div>
        </div>
    {{ form_end(form) }}
</div>



